<div class="about">
	<section class="aboutus">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>About Us</h2>
					<h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</h3>
				</div>
			</div>
			<div class="row well well-lg whathesays">
				<div class="col-sm-12 col-md-3">
					<div class="rounded">
						<div class="inner-shadow-img" style="background-image: url(./asset/about_01.jpg)"></div>
					</div>
				</div>
				<div class="col-sm-12 col-md-9">
					<p>
						Hello. I'm an engineer who made this blog and CMS. The thechnology I use is: PHP, my SQL, Javascript, SASS, and AngularJS. I'm teaching AngularJS to myself.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="contact">
		<div class="container">
			<h2 class="header-text">Contact</h2>
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<p>
						<!-- Description -->
						Thank you for visiting my blog. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi cupiditate, velit culpa ipsa doloribus tenetur ut provident placeat eveniet, accusantium, illo magnam odio. Suscipit facilis modi quam consectetur quas sint architecto veniam, iure. Voluptatibus qui expedita blanditiis quam ex molestias a ut enim odit sed ducimus, pariatur quia obcaecati asperiores, nemo debitis ipsa alias beatae mollitia aspernatur nesciunt incidunt. Dolor velit magni earum quis illo, ut suscipit eum debitis sunt consequatur porro vero nobis nostrum consectetur. Dolore iste doloremque, nemo asperiores id recusandae facilis velit alias praesentium aspernatur aliquam sed omnis reiciendis sequi quia quisquam ut odio iusto totam.
					</p>
				</div>

				<div class="col-sm-12 col-md-6">
					<div class="panel panel-default" ng-controller="ContactController">
						<div class="panel-body">
							<!-- INPUT FORM -->
							<form name="contactForm" novalidate>
								<div class="form-group">
									<label>Name</label>
									<span class="error" ng-show="contactForm.inputname.$dirty && contactForm.inputname.$invalid">Leave your name within 50 charactors</span>
									<input type="text" class="form-control" name="inputname" ng-model="contact.name" ng-maxlength="50" required>
								</div>
								<div class="form-group">
									<label>Email</label>
									<span class="error" ng-show="contactForm.inputemail.$dirty && contactForm.inputemail.$invalid">Leave your email address</span>
									<input type="email" class="form-control" name="inputemail" ng-maxlength="255" ng-model="contact.email" required>
								</div>
								<div class="form-group">
									<label>Message</label>
									<span class="error" ng-show="contactForm.inputemessage.$dirty && contactForm.inputemessage.$invalid">Leave your message</span>
									<textarea cols="30" rows="10" class="form-control" name="inputemessage" ng-model="contact.message" required></textarea>
								</div>
								<button class="btn btn-default" ng-click="submitContact();" 
								ng-disabled="!contactForm.inputname.$valid
								 || !contactForm.inputemail.$valid
								 || !contactForm.inputemessage.$valid">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="termsofuse">
		<div class="container">
			<h2 class="header-text">Terms Of Use</h2>
			<div class="row">
				<div class="col-sm-12 col-md-9 centered">
					<h3>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</h3>
					<p>When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.</p>
					<p>When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</p>
					<p>Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.</p>	
				</div>
			</div> <!-- /row -->
			<div class="row">
				<div class="col-sm-12 col-md-9 centered">
					<h3>SECTION 2 - CONSENT</h3>
					<h4>How do you get my consent?</h4>
					<p>When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</p>
					<p>If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</p>
					<h4>How do I withdraw my consent?</h4>
					<p>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at support@shopify.com or mailing us at: Shopify 126 York Street, Suite 200 Ottawa Ontario Canada K1N 5T5</p>
				</div>
			</div> <!-- /row -->
			<div class="row">
				<div class="col-sm-12 col-md-9 centered">
					<h3>SECTION 3 - DISCLOSURE</h3>
					<p>We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</p>	
				</div>
			</div> <!-- /row -->
			<div class="row">
				<div class="col-sm-12 col-md-9 centered">
					<h3>SECTION 4 - SHOPIFY</h3>
					<p>Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you.</p>
					<p>Your data is stored through Shopify’s data storage, databases and the general Shopify application. They store your data on a secure server behind a firewall.</p>
				</div>
			</div> <!-- /row -->
			<div class="row">
				<div class="col-sm-12 col-md-9 centered">
					<h3>SECTION 4 - SHOPIFY</h3>
					<p>Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you.</p>
					<p>Your data is stored through Shopify’s data storage, databases and the general Shopify application. They store your data on a secure server behind a firewall.</p>
				</div>
			</div> <!-- /row -->
			<div class="row">
				<div class="col-sm-12 col-md-9 centered">
					<h3>SECTION 5 - THIRD-PARTY SERVICES</h3>
					<p>In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</p>
					<p>However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</p>
					<p>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</p>
					<p>In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</p>
					<p>As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.</p>
					<p>Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.</p>
				</div>
			</div> <!-- /row -->
			<div class="row">
				<div class="col-sm-12 col-md-9 centered">
					<h3>SECTION 6 - SECURITY</h3>
					<p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>
					<p>If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption.  Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</p>
				</div>
			</div> <!-- /row -->
		</div>
	</section>
</div>