/* @import "_base.scss"; */
meta.foundation-version {
  font-family: "/{{VERSION}}/";
}

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

meta.foundation-data-attribute-namespace {
  font-family: false;
}

html, body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

button, .button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #008cba;
  border-color: #007095;
  color: white;
  transition: background-color 300ms ease-out;
}
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #007095;
}
button:hover, button:focus, .button:hover, .button:focus {
  color: white;
}
button.secondary, .button.secondary {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: #333333;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #b9b9b9;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  color: #333333;
}
button.success, .button.success {
  background-color: #43ac6a;
  border-color: #368a55;
  color: white;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: #368a55;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  color: white;
}
button.alert, .button.alert {
  background-color: #f04124;
  border-color: #cf2a0e;
  color: white;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #cf2a0e;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  color: white;
}
button.warning, .button.warning {
  background-color: #f08a24;
  border-color: #cf6e0e;
  color: white;
}
button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
  background-color: #cf6e0e;
}
button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
  color: white;
}
button.info, .button.info {
  background-color: #a0d3e8;
  border-color: #61b6d9;
  color: #333333;
}
button.info:hover, button.info:focus, .button.info:hover, .button.info:focus {
  background-color: #61b6d9;
}
button.info:hover, button.info:focus, .button.info:hover, .button.info:focus {
  color: white;
}
button.large, .button.large {
  padding-top: 1.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.1875rem;
  padding-left: 2.25rem;
  font-size: 1.25rem;
}
button.small, .button.small {
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  font-size: 0.8125rem;
}
button.tiny, .textAngular .btn-group button.btn, .button.tiny, .textAngular .btn-group .button.btn {
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.6875rem;
  padding-left: 1.25rem;
  font-size: 0.6875rem;
}
button.expand, .button.expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
button.left-align, .button.left-align {
  text-align: left;
  text-indent: 0.75rem;
}
button.right-align, .button.right-align {
  text-align: right;
  padding-right: 0.75rem;
}
button.radius, .button.radius {
  border-radius: 3px;
}
button.round, .button.round {
  border-radius: 1000px;
}
button.disabled, button[disabled], .button.disabled, .button[disabled] {
  background-color: #008cba;
  border-color: #007095;
  color: white;
  cursor: default;
  opacity: 0.7;
  box-shadow: none;
}
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #007095;
}
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  color: white;
}
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #008cba;
}
button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: #333333;
  cursor: default;
  opacity: 0.7;
  box-shadow: none;
}
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #b9b9b9;
}
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  color: #333333;
}
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #e7e7e7;
}
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
  background-color: #43ac6a;
  border-color: #368a55;
  color: white;
  cursor: default;
  opacity: 0.7;
  box-shadow: none;
}
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #368a55;
}
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  color: white;
}
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #43ac6a;
}
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
  background-color: #f04124;
  border-color: #cf2a0e;
  color: white;
  cursor: default;
  opacity: 0.7;
  box-shadow: none;
}
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #cf2a0e;
}
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  color: white;
}
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #f04124;
}
button.disabled.warning, button[disabled].warning, .button.disabled.warning, .button[disabled].warning {
  background-color: #f08a24;
  border-color: #cf6e0e;
  color: white;
  cursor: default;
  opacity: 0.7;
  box-shadow: none;
}
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
  background-color: #cf6e0e;
}
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
  color: white;
}
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
  background-color: #f08a24;
}
button.disabled.info, button[disabled].info, .button.disabled.info, .button[disabled].info {
  background-color: #a0d3e8;
  border-color: #61b6d9;
  color: #333333;
  cursor: default;
  opacity: 0.7;
  box-shadow: none;
}
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
  background-color: #61b6d9;
}
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
  color: white;
}
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
  background-color: #a0d3e8;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media only screen and (min-width: 40.063em) {
  button, .button {
    display: inline-block;
  }
}
.button-group, .textAngular .btn-group {
  list-style: none;
  margin: 0;
  left: 0;
}
.button-group:before, .textAngular .btn-group:before, .button-group:after, .textAngular .btn-group:after {
  content: " ";
  display: table;
}
.button-group:after, .textAngular .btn-group:after {
  clear: both;
}
.button-group > li, .textAngular .btn-group > li {
  margin: 0 -2px;
  display: inline-block;
}
.button-group > li > button, .textAngular .btn-group > li > button, .button-group > li .button, .textAngular .btn-group > li .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group > li:first-child button, .textAngular .btn-group > li:first-child button, .button-group > li:first-child .button, .textAngular .btn-group > li:first-child .button {
  border-left: 0;
}
.button-group.stack > li, .textAngular .stack.btn-group > li {
  margin: 0 -2px;
  display: inline-block;
  display: block;
  margin: 0;
  float: none;
}
.button-group.stack > li > button, .textAngular .stack.btn-group > li > button, .button-group.stack > li .button, .textAngular .stack.btn-group > li .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.stack > li:first-child button, .textAngular .stack.btn-group > li:first-child button, .button-group.stack > li:first-child .button, .textAngular .stack.btn-group > li:first-child .button {
  border-left: 0;
}
.button-group.stack > li > button, .textAngular .stack.btn-group > li > button, .button-group.stack > li .button, .textAngular .stack.btn-group > li .button {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-left-width: 0px;
  margin: 0;
  display: block;
}
.button-group.stack > li:first-child button, .textAngular .stack.btn-group > li:first-child button, .button-group.stack > li:first-child .button, .textAngular .stack.btn-group > li:first-child .button {
  border-top: 0;
}
.button-group.stack-for-small > li, .textAngular .stack-for-small.btn-group > li {
  margin: 0 -2px;
  display: inline-block;
}
.button-group.stack-for-small > li > button, .textAngular .stack-for-small.btn-group > li > button, .button-group.stack-for-small > li .button, .textAngular .stack-for-small.btn-group > li .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.stack-for-small > li:first-child button, .textAngular .stack-for-small.btn-group > li:first-child button, .button-group.stack-for-small > li:first-child .button, .textAngular .stack-for-small.btn-group > li:first-child .button {
  border-left: 0;
}
@media only screen and (max-width: 40em) {
  .button-group.stack-for-small > li, .textAngular .stack-for-small.btn-group > li {
    margin: 0 -2px;
    display: inline-block;
    display: block;
    margin: 0;
  }
  .button-group.stack-for-small > li > button, .textAngular .stack-for-small.btn-group > li > button, .button-group.stack-for-small > li .button, .textAngular .stack-for-small.btn-group > li .button {
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .button-group.stack-for-small > li:first-child button, .textAngular .stack-for-small.btn-group > li:first-child button, .button-group.stack-for-small > li:first-child .button, .textAngular .stack-for-small.btn-group > li:first-child .button {
    border-left: 0;
  }
  .button-group.stack-for-small > li > button, .textAngular .stack-for-small.btn-group > li > button, .button-group.stack-for-small > li .button, .textAngular .stack-for-small.btn-group > li .button {
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-left-width: 0px;
    margin: 0;
    display: block;
  }
  .button-group.stack-for-small > li:first-child button, .textAngular .stack-for-small.btn-group > li:first-child button, .button-group.stack-for-small > li:first-child .button, .textAngular .stack-for-small.btn-group > li:first-child .button {
    border-top: 0;
  }
}
.button-group.radius > *, .textAngular .radius.btn-group > * {
  margin: 0 -2px;
  display: inline-block;
}
.button-group.radius > * > button, .textAngular .radius.btn-group > * > button, .button-group.radius > * .button, .textAngular .radius.btn-group > * .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.radius > *:first-child button, .textAngular .radius.btn-group > *:first-child button, .button-group.radius > *:first-child .button, .textAngular .radius.btn-group > *:first-child .button {
  border-left: 0;
}
.button-group.radius > *, .textAngular .radius.btn-group > *, .button-group.radius > * > a, .textAngular .radius.btn-group > * > a, .button-group.radius > * > button, .textAngular .radius.btn-group > * > button, .button-group.radius > * > .button, .textAngular .radius.btn-group > * > .button {
  border-radius: 0;
}
.button-group.radius > *:first-child, .textAngular .radius.btn-group > *:first-child, .button-group.radius > *:first-child > a, .textAngular .radius.btn-group > *:first-child > a, .button-group.radius > *:first-child > button, .textAngular .radius.btn-group > *:first-child > button, .button-group.radius > *:first-child > .button, .textAngular .radius.btn-group > *:first-child > .button {
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.button-group.radius > *:last-child, .textAngular .radius.btn-group > *:last-child, .button-group.radius > *:last-child > a, .textAngular .radius.btn-group > *:last-child > a, .button-group.radius > *:last-child > button, .textAngular .radius.btn-group > *:last-child > button, .button-group.radius > *:last-child > .button, .textAngular .radius.btn-group > *:last-child > .button {
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.button-group.radius.stack > *, .textAngular .radius.stack.btn-group > * {
  margin: 0 -2px;
  display: inline-block;
  display: block;
  margin: 0;
}
.button-group.radius.stack > * > button, .textAngular .radius.stack.btn-group > * > button, .button-group.radius.stack > * .button, .textAngular .radius.stack.btn-group > * .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.radius.stack > *:first-child button, .textAngular .radius.stack.btn-group > *:first-child button, .button-group.radius.stack > *:first-child .button, .textAngular .radius.stack.btn-group > *:first-child .button {
  border-left: 0;
}
.button-group.radius.stack > * > button, .textAngular .radius.stack.btn-group > * > button, .button-group.radius.stack > * .button, .textAngular .radius.stack.btn-group > * .button {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-left-width: 0px;
  margin: 0;
  display: block;
}
.button-group.radius.stack > *:first-child button, .textAngular .radius.stack.btn-group > *:first-child button, .button-group.radius.stack > *:first-child .button, .textAngular .radius.stack.btn-group > *:first-child .button {
  border-top: 0;
}
.button-group.radius.stack > *, .textAngular .radius.stack.btn-group > *, .button-group.radius.stack > * > a, .textAngular .radius.stack.btn-group > * > a, .button-group.radius.stack > * > button, .textAngular .radius.stack.btn-group > * > button, .button-group.radius.stack > * > .button, .textAngular .radius.stack.btn-group > * > .button {
  border-radius: 0;
}
.button-group.radius.stack > *:first-child, .textAngular .radius.stack.btn-group > *:first-child, .button-group.radius.stack > *:first-child > a, .textAngular .radius.stack.btn-group > *:first-child > a, .button-group.radius.stack > *:first-child > button, .textAngular .radius.stack.btn-group > *:first-child > button, .button-group.radius.stack > *:first-child > .button, .textAngular .radius.stack.btn-group > *:first-child > .button {
  -webkit-top-left-radius: 3px;
  -webkit-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.button-group.radius.stack > *:last-child, .textAngular .radius.stack.btn-group > *:last-child, .button-group.radius.stack > *:last-child > a, .textAngular .radius.stack.btn-group > *:last-child > a, .button-group.radius.stack > *:last-child > button, .textAngular .radius.stack.btn-group > *:last-child > button, .button-group.radius.stack > *:last-child > .button, .textAngular .radius.stack.btn-group > *:last-child > .button {
  -webkit-bottom-left-radius: 3px;
  -webkit-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media only screen and (min-width: 40.063em) {
  .button-group.radius.stack-for-small > *, .textAngular .radius.stack-for-small.btn-group > * {
    margin: 0 -2px;
    display: inline-block;
  }
  .button-group.radius.stack-for-small > * > button, .textAngular .radius.stack-for-small.btn-group > * > button, .button-group.radius.stack-for-small > * .button, .textAngular .radius.stack-for-small.btn-group > * .button {
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .button-group.radius.stack-for-small > *:first-child button, .textAngular .radius.stack-for-small.btn-group > *:first-child button, .button-group.radius.stack-for-small > *:first-child .button, .textAngular .radius.stack-for-small.btn-group > *:first-child .button {
    border-left: 0;
  }
  .button-group.radius.stack-for-small > *, .textAngular .radius.stack-for-small.btn-group > *, .button-group.radius.stack-for-small > * > a, .textAngular .radius.stack-for-small.btn-group > * > a, .button-group.radius.stack-for-small > * > button, .textAngular .radius.stack-for-small.btn-group > * > button, .button-group.radius.stack-for-small > * > .button, .textAngular .radius.stack-for-small.btn-group > * > .button {
    border-radius: 0;
  }
  .button-group.radius.stack-for-small > *:first-child, .textAngular .radius.stack-for-small.btn-group > *:first-child, .button-group.radius.stack-for-small > *:first-child > a, .textAngular .radius.stack-for-small.btn-group > *:first-child > a, .button-group.radius.stack-for-small > *:first-child > button, .textAngular .radius.stack-for-small.btn-group > *:first-child > button, .button-group.radius.stack-for-small > *:first-child > .button, .textAngular .radius.stack-for-small.btn-group > *:first-child > .button {
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  .button-group.radius.stack-for-small > *:last-child, .textAngular .radius.stack-for-small.btn-group > *:last-child, .button-group.radius.stack-for-small > *:last-child > a, .textAngular .radius.stack-for-small.btn-group > *:last-child > a, .button-group.radius.stack-for-small > *:last-child > button, .textAngular .radius.stack-for-small.btn-group > *:last-child > button, .button-group.radius.stack-for-small > *:last-child > .button, .textAngular .radius.stack-for-small.btn-group > *:last-child > .button {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
}
@media only screen and (max-width: 40em) {
  .button-group.radius.stack-for-small > *, .textAngular .radius.stack-for-small.btn-group > * {
    margin: 0 -2px;
    display: inline-block;
    display: block;
    margin: 0;
  }
  .button-group.radius.stack-for-small > * > button, .textAngular .radius.stack-for-small.btn-group > * > button, .button-group.radius.stack-for-small > * .button, .textAngular .radius.stack-for-small.btn-group > * .button {
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .button-group.radius.stack-for-small > *:first-child button, .textAngular .radius.stack-for-small.btn-group > *:first-child button, .button-group.radius.stack-for-small > *:first-child .button, .textAngular .radius.stack-for-small.btn-group > *:first-child .button {
    border-left: 0;
  }
  .button-group.radius.stack-for-small > * > button, .textAngular .radius.stack-for-small.btn-group > * > button, .button-group.radius.stack-for-small > * .button, .textAngular .radius.stack-for-small.btn-group > * .button {
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-left-width: 0px;
    margin: 0;
    display: block;
  }
  .button-group.radius.stack-for-small > *:first-child button, .textAngular .radius.stack-for-small.btn-group > *:first-child button, .button-group.radius.stack-for-small > *:first-child .button, .textAngular .radius.stack-for-small.btn-group > *:first-child .button {
    border-top: 0;
  }
  .button-group.radius.stack-for-small > *, .textAngular .radius.stack-for-small.btn-group > *, .button-group.radius.stack-for-small > * > a, .textAngular .radius.stack-for-small.btn-group > * > a, .button-group.radius.stack-for-small > * > button, .textAngular .radius.stack-for-small.btn-group > * > button, .button-group.radius.stack-for-small > * > .button, .textAngular .radius.stack-for-small.btn-group > * > .button {
    border-radius: 0;
  }
  .button-group.radius.stack-for-small > *:first-child, .textAngular .radius.stack-for-small.btn-group > *:first-child, .button-group.radius.stack-for-small > *:first-child > a, .textAngular .radius.stack-for-small.btn-group > *:first-child > a, .button-group.radius.stack-for-small > *:first-child > button, .textAngular .radius.stack-for-small.btn-group > *:first-child > button, .button-group.radius.stack-for-small > *:first-child > .button, .textAngular .radius.stack-for-small.btn-group > *:first-child > .button {
    -webkit-top-left-radius: 3px;
    -webkit-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .button-group.radius.stack-for-small > *:last-child, .textAngular .radius.stack-for-small.btn-group > *:last-child, .button-group.radius.stack-for-small > *:last-child > a, .textAngular .radius.stack-for-small.btn-group > *:last-child > a, .button-group.radius.stack-for-small > *:last-child > button, .textAngular .radius.stack-for-small.btn-group > *:last-child > button, .button-group.radius.stack-for-small > *:last-child > .button, .textAngular .radius.stack-for-small.btn-group > *:last-child > .button {
    -webkit-bottom-left-radius: 3px;
    -webkit-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.button-group.round > *, .textAngular .round.btn-group > * {
  margin: 0 -2px;
  display: inline-block;
}
.button-group.round > * > button, .textAngular .round.btn-group > * > button, .button-group.round > * .button, .textAngular .round.btn-group > * .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.round > *:first-child button, .textAngular .round.btn-group > *:first-child button, .button-group.round > *:first-child .button, .textAngular .round.btn-group > *:first-child .button {
  border-left: 0;
}
.button-group.round > *, .textAngular .round.btn-group > *, .button-group.round > * > a, .textAngular .round.btn-group > * > a, .button-group.round > * > button, .textAngular .round.btn-group > * > button, .button-group.round > * > .button, .textAngular .round.btn-group > * > .button {
  border-radius: 0;
}
.button-group.round > *:first-child, .textAngular .round.btn-group > *:first-child, .button-group.round > *:first-child > a, .textAngular .round.btn-group > *:first-child > a, .button-group.round > *:first-child > button, .textAngular .round.btn-group > *:first-child > button, .button-group.round > *:first-child > .button, .textAngular .round.btn-group > *:first-child > .button {
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}
.button-group.round > *:last-child, .textAngular .round.btn-group > *:last-child, .button-group.round > *:last-child > a, .textAngular .round.btn-group > *:last-child > a, .button-group.round > *:last-child > button, .textAngular .round.btn-group > *:last-child > button, .button-group.round > *:last-child > .button, .textAngular .round.btn-group > *:last-child > .button {
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
}
.button-group.round.stack > *, .textAngular .round.stack.btn-group > * {
  margin: 0 -2px;
  display: inline-block;
  display: block;
  margin: 0;
}
.button-group.round.stack > * > button, .textAngular .round.stack.btn-group > * > button, .button-group.round.stack > * .button, .textAngular .round.stack.btn-group > * .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.round.stack > *:first-child button, .textAngular .round.stack.btn-group > *:first-child button, .button-group.round.stack > *:first-child .button, .textAngular .round.stack.btn-group > *:first-child .button {
  border-left: 0;
}
.button-group.round.stack > * > button, .textAngular .round.stack.btn-group > * > button, .button-group.round.stack > * .button, .textAngular .round.stack.btn-group > * .button {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-left-width: 0px;
  margin: 0;
  display: block;
}
.button-group.round.stack > *:first-child button, .textAngular .round.stack.btn-group > *:first-child button, .button-group.round.stack > *:first-child .button, .textAngular .round.stack.btn-group > *:first-child .button {
  border-top: 0;
}
.button-group.round.stack > *, .textAngular .round.stack.btn-group > *, .button-group.round.stack > * > a, .textAngular .round.stack.btn-group > * > a, .button-group.round.stack > * > button, .textAngular .round.stack.btn-group > * > button, .button-group.round.stack > * > .button, .textAngular .round.stack.btn-group > * > .button {
  border-radius: 0;
}
.button-group.round.stack > *:first-child, .textAngular .round.stack.btn-group > *:first-child, .button-group.round.stack > *:first-child > a, .textAngular .round.stack.btn-group > *:first-child > a, .button-group.round.stack > *:first-child > button, .textAngular .round.stack.btn-group > *:first-child > button, .button-group.round.stack > *:first-child > .button, .textAngular .round.stack.btn-group > *:first-child > .button {
  -webkit-top-left-radius: 1rem;
  -webkit-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.button-group.round.stack > *:last-child, .textAngular .round.stack.btn-group > *:last-child, .button-group.round.stack > *:last-child > a, .textAngular .round.stack.btn-group > *:last-child > a, .button-group.round.stack > *:last-child > button, .textAngular .round.stack.btn-group > *:last-child > button, .button-group.round.stack > *:last-child > .button, .textAngular .round.stack.btn-group > *:last-child > .button {
  -webkit-bottom-left-radius: 1rem;
  -webkit-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
@media only screen and (min-width: 40.063em) {
  .button-group.round.stack-for-small > *, .textAngular .round.stack-for-small.btn-group > * {
    margin: 0 -2px;
    display: inline-block;
  }
  .button-group.round.stack-for-small > * > button, .textAngular .round.stack-for-small.btn-group > * > button, .button-group.round.stack-for-small > * .button, .textAngular .round.stack-for-small.btn-group > * .button {
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .button-group.round.stack-for-small > *:first-child button, .textAngular .round.stack-for-small.btn-group > *:first-child button, .button-group.round.stack-for-small > *:first-child .button, .textAngular .round.stack-for-small.btn-group > *:first-child .button {
    border-left: 0;
  }
  .button-group.round.stack-for-small > *, .textAngular .round.stack-for-small.btn-group > *, .button-group.round.stack-for-small > * > a, .textAngular .round.stack-for-small.btn-group > * > a, .button-group.round.stack-for-small > * > button, .textAngular .round.stack-for-small.btn-group > * > button, .button-group.round.stack-for-small > * > .button, .textAngular .round.stack-for-small.btn-group > * > .button {
    border-radius: 0;
  }
  .button-group.round.stack-for-small > *:first-child, .textAngular .round.stack-for-small.btn-group > *:first-child, .button-group.round.stack-for-small > *:first-child > a, .textAngular .round.stack-for-small.btn-group > *:first-child > a, .button-group.round.stack-for-small > *:first-child > button, .textAngular .round.stack-for-small.btn-group > *:first-child > button, .button-group.round.stack-for-small > *:first-child > .button, .textAngular .round.stack-for-small.btn-group > *:first-child > .button {
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
  }
  .button-group.round.stack-for-small > *:last-child, .textAngular .round.stack-for-small.btn-group > *:last-child, .button-group.round.stack-for-small > *:last-child > a, .textAngular .round.stack-for-small.btn-group > *:last-child > a, .button-group.round.stack-for-small > *:last-child > button, .textAngular .round.stack-for-small.btn-group > *:last-child > button, .button-group.round.stack-for-small > *:last-child > .button, .textAngular .round.stack-for-small.btn-group > *:last-child > .button {
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
  }
}
@media only screen and (max-width: 40em) {
  .button-group.round.stack-for-small > *, .textAngular .round.stack-for-small.btn-group > * {
    margin: 0 -2px;
    display: inline-block;
    display: block;
    margin: 0;
  }
  .button-group.round.stack-for-small > * > button, .textAngular .round.stack-for-small.btn-group > * > button, .button-group.round.stack-for-small > * .button, .textAngular .round.stack-for-small.btn-group > * .button {
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .button-group.round.stack-for-small > *:first-child button, .textAngular .round.stack-for-small.btn-group > *:first-child button, .button-group.round.stack-for-small > *:first-child .button, .textAngular .round.stack-for-small.btn-group > *:first-child .button {
    border-left: 0;
  }
  .button-group.round.stack-for-small > * > button, .textAngular .round.stack-for-small.btn-group > * > button, .button-group.round.stack-for-small > * .button, .textAngular .round.stack-for-small.btn-group > * .button {
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-left-width: 0px;
    margin: 0;
    display: block;
  }
  .button-group.round.stack-for-small > *:first-child button, .textAngular .round.stack-for-small.btn-group > *:first-child button, .button-group.round.stack-for-small > *:first-child .button, .textAngular .round.stack-for-small.btn-group > *:first-child .button {
    border-top: 0;
  }
  .button-group.round.stack-for-small > *, .textAngular .round.stack-for-small.btn-group > *, .button-group.round.stack-for-small > * > a, .textAngular .round.stack-for-small.btn-group > * > a, .button-group.round.stack-for-small > * > button, .textAngular .round.stack-for-small.btn-group > * > button, .button-group.round.stack-for-small > * > .button, .textAngular .round.stack-for-small.btn-group > * > .button {
    border-radius: 0;
  }
  .button-group.round.stack-for-small > *:first-child, .textAngular .round.stack-for-small.btn-group > *:first-child, .button-group.round.stack-for-small > *:first-child > a, .textAngular .round.stack-for-small.btn-group > *:first-child > a, .button-group.round.stack-for-small > *:first-child > button, .textAngular .round.stack-for-small.btn-group > *:first-child > button, .button-group.round.stack-for-small > *:first-child > .button, .textAngular .round.stack-for-small.btn-group > *:first-child > .button {
    -webkit-top-left-radius: 1rem;
    -webkit-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .button-group.round.stack-for-small > *:last-child, .textAngular .round.stack-for-small.btn-group > *:last-child, .button-group.round.stack-for-small > *:last-child > a, .textAngular .round.stack-for-small.btn-group > *:last-child > a, .button-group.round.stack-for-small > *:last-child > button, .textAngular .round.stack-for-small.btn-group > *:last-child > button, .button-group.round.stack-for-small > *:last-child > .button, .textAngular .round.stack-for-small.btn-group > *:last-child > .button {
    -webkit-bottom-left-radius: 1rem;
    -webkit-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
.button-group.even-2 li, .textAngular .even-2.btn-group li {
  margin: 0 -2px;
  display: inline-block;
  width: 50%;
}
.button-group.even-2 li > button, .textAngular .even-2.btn-group li > button, .button-group.even-2 li .button, .textAngular .even-2.btn-group li .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.even-2 li:first-child button, .textAngular .even-2.btn-group li:first-child button, .button-group.even-2 li:first-child .button, .textAngular .even-2.btn-group li:first-child .button {
  border-left: 0;
}
.button-group.even-2 li button, .textAngular .even-2.btn-group li button, .button-group.even-2 li .button, .textAngular .even-2.btn-group li .button {
  width: 100%;
}
.button-group.even-3 li, .textAngular .even-3.btn-group li {
  margin: 0 -2px;
  display: inline-block;
  width: 33.33333%;
}
.button-group.even-3 li > button, .textAngular .even-3.btn-group li > button, .button-group.even-3 li .button, .textAngular .even-3.btn-group li .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.even-3 li:first-child button, .textAngular .even-3.btn-group li:first-child button, .button-group.even-3 li:first-child .button, .textAngular .even-3.btn-group li:first-child .button {
  border-left: 0;
}
.button-group.even-3 li button, .textAngular .even-3.btn-group li button, .button-group.even-3 li .button, .textAngular .even-3.btn-group li .button {
  width: 100%;
}
.button-group.even-4 li, .textAngular .even-4.btn-group li {
  margin: 0 -2px;
  display: inline-block;
  width: 25%;
}
.button-group.even-4 li > button, .textAngular .even-4.btn-group li > button, .button-group.even-4 li .button, .textAngular .even-4.btn-group li .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.even-4 li:first-child button, .textAngular .even-4.btn-group li:first-child button, .button-group.even-4 li:first-child .button, .textAngular .even-4.btn-group li:first-child .button {
  border-left: 0;
}
.button-group.even-4 li button, .textAngular .even-4.btn-group li button, .button-group.even-4 li .button, .textAngular .even-4.btn-group li .button {
  width: 100%;
}
.button-group.even-5 li, .textAngular .even-5.btn-group li {
  margin: 0 -2px;
  display: inline-block;
  width: 20%;
}
.button-group.even-5 li > button, .textAngular .even-5.btn-group li > button, .button-group.even-5 li .button, .textAngular .even-5.btn-group li .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.even-5 li:first-child button, .textAngular .even-5.btn-group li:first-child button, .button-group.even-5 li:first-child .button, .textAngular .even-5.btn-group li:first-child .button {
  border-left: 0;
}
.button-group.even-5 li button, .textAngular .even-5.btn-group li button, .button-group.even-5 li .button, .textAngular .even-5.btn-group li .button {
  width: 100%;
}
.button-group.even-6 li, .textAngular .even-6.btn-group li {
  margin: 0 -2px;
  display: inline-block;
  width: 16.66667%;
}
.button-group.even-6 li > button, .textAngular .even-6.btn-group li > button, .button-group.even-6 li .button, .textAngular .even-6.btn-group li .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.even-6 li:first-child button, .textAngular .even-6.btn-group li:first-child button, .button-group.even-6 li:first-child .button, .textAngular .even-6.btn-group li:first-child .button {
  border-left: 0;
}
.button-group.even-6 li button, .textAngular .even-6.btn-group li button, .button-group.even-6 li .button, .textAngular .even-6.btn-group li .button {
  width: 100%;
}
.button-group.even-7 li, .textAngular .even-7.btn-group li {
  margin: 0 -2px;
  display: inline-block;
  width: 14.28571%;
}
.button-group.even-7 li > button, .textAngular .even-7.btn-group li > button, .button-group.even-7 li .button, .textAngular .even-7.btn-group li .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.even-7 li:first-child button, .textAngular .even-7.btn-group li:first-child button, .button-group.even-7 li:first-child .button, .textAngular .even-7.btn-group li:first-child .button {
  border-left: 0;
}
.button-group.even-7 li button, .textAngular .even-7.btn-group li button, .button-group.even-7 li .button, .textAngular .even-7.btn-group li .button {
  width: 100%;
}
.button-group.even-8 li, .textAngular .even-8.btn-group li {
  margin: 0 -2px;
  display: inline-block;
  width: 12.5%;
}
.button-group.even-8 li > button, .textAngular .even-8.btn-group li > button, .button-group.even-8 li .button, .textAngular .even-8.btn-group li .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.button-group.even-8 li:first-child button, .textAngular .even-8.btn-group li:first-child button, .button-group.even-8 li:first-child .button, .textAngular .even-8.btn-group li:first-child .button {
  border-left: 0;
}
.button-group.even-8 li button, .textAngular .even-8.btn-group li button, .button-group.even-8 li .button, .textAngular .even-8.btn-group li .button {
  width: 100%;
}

.button-bar:before, .textAngular .btn-toolbar:before, .button-bar:after, .textAngular .btn-toolbar:after {
  content: " ";
  display: table;
}
.button-bar:after, .textAngular .btn-toolbar:after {
  clear: both;
}
.button-bar .button-group, .textAngular .btn-toolbar .button-group, .button-bar .textAngular .btn-group, .textAngular .button-bar .btn-group, .textAngular .btn-toolbar .btn-group {
  float: left;
  margin-right: 0.625rem;
}
.button-bar .button-group div, .textAngular .btn-toolbar .button-group div, .button-bar .textAngular .btn-group div, .textAngular .button-bar .btn-group div, .textAngular .btn-toolbar .btn-group div {
  overflow: hidden;
}

.textAngular .btn-group .btn {
  border: 1px solid #666;
  background-color: #fff;
  color: #333;
}
.textAngular .btn-group .btn:hover {
  background-color: #adadad;
}
.textAngular .btn-group .btn.disabled, .textAngular .btn-group .btn[disabled] {
  background-color: #fff;
  border-color: #aaa;
  color: #666;
}
.textAngular .ta-editor {
  border: 1px solid #ccc;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #f8f8f8;
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.side-nav-area {
  position: fixed;
  top: 2.84rem;
  left: 0;
  height: 100%;
  background-color: #333;
  padding-left: 0;
  padding-right: 0;
}
.side-nav-area .side-nav {
  line-height: 2rem;
  padding: inherit;
}
.side-nav-area .side-nav > li {
  margin: 0;
}
.side-nav-area .side-nav > li > a {
  padding-left: 1.5rem;
  padding-right: 0;
  color: #fff;
}
.side-nav-area .side-nav > li > a:hover, .side-nav-area .side-nav > li > a:focus {
  background-color: #000;
}

.login-panel {
  margin-top: 5rem;
}

.login ul, .glance ul {
  list-style: none;
  margin-left: 0;
}

.caption {
  font-size: 0.8rem;
  line-height: 2rem;
}

/* for AngularJS */
a[disabled="disabled"] {
  pointer-events: none;
  cursor: default;
}

.cms-subpage-title {
  display: inline;
  vertical-align: middle;
  margin-right: 1rem;
  line-height: 4rem;
}

.filters .button-positive {
  background-color: #007095;
}

table tr:nth-child(2n) {
  background-color: #f3f3f3;
}

/* Add new post */
.titleTextbox {
  font-size: 2rem;
}

.slug {
  padding: 0.5rem;
  font-size: 12px;
}
.slug > * {
  display: inline;
}
.slug .slugTextbox {
  display: none;
}
.slug .edit {
  padding-left: 1rem;
}

.credit {
  font-size: 8px;
  display: block;
  color: #54d5ff;
}

.panel {
  background-color: #f8fafa;
}

.published > .button {
  display: block;
}
.published .trash, .published .trash:hover, .published .trash:focus {
  color: #dd0000;
}

.uploadedImage > img {
  height: 200px;
}

.error {
  font-size: 14px;
  color: red;
  padding-left: 10px;
}

/* @import "_cms.scss"; */
