<!doctype html>
<html class="no-js" lang="en" ng-app="app">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>VANARTS STUDENT MOCK PROJECT SITE</title>
	<link rel="icon" type="image/png" href="./asset/favicon.ico">
	<!-- CSS -->
	<link rel="stylesheet" href="./lib/vendor/min/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="./css/style.css">
	
</head>
<body ng-controller="MainController" ng-class="bg">
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a scroll-to="top" ui-sref="home" ng-click="setActive('home')" class="navbar-brand">Hack!!<span class="phrase hidden-xs">Work efficiently, live gracefully.</span></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li scroll-to="top" ng-class="{active: isActive('home')}">
						<a ui-sref="home" ng-click="setActive('home')">Home</a></li>
					<li scroll-to="top" ng-class="{active: isActive('about')}">
						<a ui-sref="about" ng-click="setActive('about')">About</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="margin-nav" id="top">
		<div ui-view class="full-ui-view"></div>
	</div>
	<footer class="footer">
		<div class="container">
			<span class="copyright">Hack!! 2014</span>
		</div>
	</footer>

	<!-- JS -->
	<script src='./lib/angular/min/angular.min.js'></script>
	<script src='./lib/angular/min/resource.min.js'></script>
	<script src='./lib/vendor/min/angular-ui-router.min.js'></script>
	<script src='./lib/vendor/min/ui-bootstrap-tpls-0.11.2.min.js'></script>
	<script src='./lib/vendor/min/ng-scrollto.min.js'></script>
	<script src='./lib/vendor/min/ng-infinite-scroll.min.js'></script>
	<script src="./js/app.js"></script>
	<script src="./js/controllers.js"></script>
	<script src='./lib/vendor/min/jquery-1.11.1.min.js'></script>
	<script src='./lib/vendor/min/bootstrap.min.js'></script>
</body>
</html>