<!-- First row -->
<div class="row fullWidth">
	<div class="small-12 column">
		<h2 class="cms-subpage-title">Contacts</h2>
	</div>
</div>
<!-- Second row -->
<div class="row fullWidth">
	<!-- SEARCH -->
	<div class="medium-12 large-2 columns">
		<input type="text" ng-model="searchBox" placeholder="Search message..." />
	</div>

	<!-- PAGINATION -->
	<div class="medium-12 large-6 columns clearfix">
		<div class="right pagesDisplay">
			<a class="button tiny" ng-disabled="currentPage == 0" ng-click="currentPage=0">«</a>
			<a class="button tiny" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">‹</a>
			Page 
			<span ng-if="numberOfPages()>0">{{currentPage+1}}</span>
			<span ng-if="numberOfPages()==0">0</span>
			of {{numberOfPages()}}
			<a class="button tiny" ng-disabled="currentPage >= filteredResults.length/pageSize-1" ng-click="currentPage=currentPage+1">›</a>
			<a class="button tiny" ng-disabled="currentPage >= filteredResults.length/pageSize-1" ng-click="currentPage=numberOfPages()-1">»</a>
		</div>
	</div>
</div>
<!-- Third row -->
<div class="row fullWidth">
	<div class="small-12 column">
		<table class="fullWidth">
			<!-- LIST -->
			<thead>
				<tr>
					<th class="small-3 medium-2 columns">Name</th>
					<th class="hide-for-small-only medium-3 columns">Email</th>
					<th class="small-6 medium-5 columns">Message</th>
					<th class="small-3 medium-2 columns">Date</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='result in filteredResults | startFrom: currentPage*pageSize | limitTo:pageSize'>
					<td class="small-3 medium-2 columns">{{result.name}}</td>
					<td class="hide-for-small-only medium-3 columns">{{result.email}}</td>
					<td class="small-6 medium-5 columns">{{result.message}}</td>
					<td class="small-3 medium-2 columns">{{result.date}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
